.navigation-items__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: white;
    color: black;

    .navigation-item {
        border-right: 1px solid black;
        padding: 1rem;
    }

    .navigation-item--active {
        background: gray;
        border-right: 1px solid black;
        padding: 1rem;
        color: white;
        font-weight: bold;
    }
}