.country-picker__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: white;
    color: black;

    .country-picker {
        border-right: 1px solid black;
        padding: 1rem;
    }

    .country-picker--active {
        background: gray;
        border-right: 1px solid black;
        border-left: 1px solid black;
        padding: 1rem;
        color: white;
        font-weight: bold;
    }
}

.country-picker__container--disabled{
    pointer-events: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: red;
    color: black;

    .country-picker {
        border-right: 1px solid black;
        padding: 1rem;
    }

    .country-picker--active {
        background: red;
        border-right: 1px solid black;
        padding: 1rem;
        color: white;
        font-weight: bold;
    }
}