.news-item__container--without-active_news {
    text-align: left;
    font-size: 1.4rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 2rem;

    img {
        max-width: 100%;
        max-height: 100%;
    }

    button {
        background-color: #f9813a;
        cursor: pointer;
        float: right;
    }
}