.top-news-from {
    font-weight: bold;
    margin-top: 2rem;
    font-size: 1.4rem;
}

.news__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.single-news {
    display: flex;
    justify-content: center;
}

.search__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    p {
        font-size: 1.4rem;
        font-weight: 500;
    }

    input {
        align-self: center;
        width: 50%;
    }
}

@media screen and (min-width: $screen__m) {
 .news__container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 3rem;
 }
}