html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 10px;
    font-weight: 400;
    cursor: default;
    background-color: white;
}

//page breakpoints
$screen__xxs: 375px;
$screen__xs: 480px;
$screen__s: 768px;
$screen__sm: 992px;
$screen__m: 1024px;
$screen__ml: 1200px;
$screen__l: 1440px;
$screen__xl: 1920px;
$screen__2k: 2560px;
