.category-item-title__container{
    display: flex;
    justify-content: center;

    .category-item__title{
        font: 1.4rem;
        font-weight: bold;
        text-decoration: underline;
        text-transform: capitalize;
        margin-right: 0.5rem;
    }
}

.category-item-slider {
    img {
        max-width: 100%;
        min-width: 100%;
    }
}