.categories__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;

    .categories-items {
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1rem;
    }

    p {
        font-size: 1.4rem;
        font-weight: 500;
    }
}